{% load static %}
{% include 'header.html' %}

    <section class="courses-section">
        <div class="container">
            <h1>Explore All Courses</h1>
            <p>Browse our collection of programming courses designed for beginners and experts alike.</p>

            <div class="courses-grid">
                <div class="course-item">
                    <img src="{% static 'images/python-5.svg' %}" alt="Python">
                    <h2>Python Programming</h2>
                    <p>Learn Python from basics to advanced concepts with hands-on examples.</p>
                    <a href="{% url 'python-tutorial' %}" class="course-btn">Start Course</a>

                </div>

                <div class="course-item">
                    <img src="{% static 'images/database-floating-squares.png' %}" alt="SQL">
                    <h2>SQL Fundamentals</h2>
                    <p>Master the language of databases with our structured SQL tutorials.</p>
                    <a href="{% url 'sql-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/html-1.svg' %}" alt="HTML">
                    <h2>HTML & CSS</h2>
                    <p>Build beautiful web pages with HTML and CSS, and enhance your front-end skills.</p>
                    <a href="{% url 'html-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/logo-javascript.svg' %}" alt="JavaScript">
                    <h2>JavaScript</h2>
                    <p>Get started with the language that powers the web - JavaScript.</p>
                    <a href="{% url 'javascript-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/rust.svg' %}" alt="Rust">
                    <h2>Rust Programming</h2>
                    <p>Learn Rust for systems programming and modern software development.</p>
                    <a href="{% url 'rust-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/golang-1.svg' %}" alt="Go">
                    <h2>Go Programming</h2>
                    <p>Dive into Go for scalable and efficient software solutions.</p>
                    <a href="{% url 'go-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/c-1.svg' %}" alt="C">
                    <h2>C Programming</h2>
                    <p>Develop a strong understanding of the C programming language.</p>
                    <a href="{% url 'c-tutorial' %}" class="course-btn">Start Course</a>
                </div>

               
                <div class="course-item">
                    <img src="{% static 'images/c.svg' %}" alt="Pandas">
                    <h2>C++ Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'cpp-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/icons8-java.svg' %}" alt="Pandas">
                    <h2>Java</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'java-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/rlang.svg' %}" alt="Pandas">
                    <h2>R</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'r-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/Swift.svg' %}" alt="Pandas">
                    <h2>Swift Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'swift-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/scala1.svg' %}" alt="Pandas">
                    <h2>scala Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'scala-tutorial' %}" class="course-btn">Start Course</a>
                </div>
                <div class="course-item">
                    <img src="{% static 'images/julia-1.svg' %}" alt="Pandas">
                    <h2>julia Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'julia-tutorial' %}" class="course-btn">Start Course</a>
                </div>
                <div class="course-item">
                    <img src="{% static 'images/ruby.svg' %}" alt="Pandas">
                    <h2>ruby Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'ruby-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/perl.svg' %}" alt="Pandas">
                    <h2>Perl Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'perl-tutorial' %}" class="course-btn">Start Course</a>
                </div>
                <div class="course-item">
                    <img src="{% static 'images/php.svg' %}" alt="Pandas">
                    <h2>php Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'php-tutorial' %}" class="course-btn">Start Course</a>
                </div>

                <div class="course-item">
                    <img src="{% static 'images/c--4.svg' %}" alt="Pandas">
                    <h2>C# Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'csharp-tutorial' %}" class="course-btn">Start Course</a>
                </div>
                <div class="course-item">
                    <img src="{% static 'images/kotlin.svg' %}" alt="Pandas">
                    <h2>Kotlin Programing</h2>
                    <p>Master data manipulation and analysis with the Pandas library.</p>
                    <a href="{% url 'kotlin-tutorial' %}" class="course-btn">Start Course</a>
                </div>
                
            </div>
        </div>
    </section>
{% include 'footer.html' %}