<header>
    <nav>
        <div class="logo">
            DataScienceDigest
        </div>

        <!-- Navigation Links and Login Button -->
        <ul class="nav-links">
            <li><a href="{% url 'all_courses' %}">Courses</a></li>
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Examples</a></li>
            <!-- Login/Sign Up Button now inside the nav-links -->
            <li class="mobile-btn">
                <button class="pro-btn">Login/Sign Up</button>
            </li>
        </ul>

        <!-- Hamburger Icon for Mobile -->
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>