{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'headerlinks.html' %}

</head>

<body>
    {% include 'header.html' %}



    <!-- Signup Start -->
    <div class="container-xxl py-2 mt-4">
        <div class="container">

            <div class="row g-4 wow fadeInUp" data-wow-delay="0.5s ">

                <center>
                    <form class="shadow p-4" style="max-width: 550px;">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            <h1 class="mb-5 bg-white text-center px-3">Signup</h1>

                        </div>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="username" placeholder="Username">
                                    <label for="Username">Username</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                                    <label for="email">Email Address</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn text-light w-100 py-3" type="submit">Signup</button>
                            </div>

                            <div class="col-12 text-center">
                                <p>Already have an account? <a class="text-decoration-none" href="{% url 'login' %}">Login</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </center>

            </div>
        </div>
    </div>
    <!-- Signup End -->


    <!-- Footer Start -->
    {% include 'footer.html' %}
    <!-- Footer End -->

</body>

</html>