{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'headerlinks.html' %}
    <!-- Title Tag -->
    <title>Sign Up | Data Science Digest - Join Our Community of Learners</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8256284122277421"
     crossorigin="anonymous"></script>

    <link rel="canonical" href="https://datasciencedigest.in/signup/" />
    <!-- Meta Description -->
    <meta name="description" content="Sign up for Data Science Digest to access programming tutorials, code practice, data science resources, and AI insights. Join a community of aspiring and experienced tech professionals." />

    <!-- Meta Keywords -->
    <meta name="keywords" content="Data Science Digest, sign up, join Data Science Digest, programming tutorials, data science resources, AI insights, code practice, online coding community" />

    <!-- Open Graph Tags for Social Sharing -->
    <meta property="og:title" content="Sign Up | Data Science Digest - Join Our Community of Learners" />
    <meta property="og:description" content="Join Data Science Digest for access to exclusive programming tutorials, code practice tools, and data science resources." />
    <meta property="og:image" content="URL-to-your-signup-page-image.jpg" />
    <meta property="og:url" content="https://datasciencedigest.in/signup" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Sign Up | Data Science Digest - Join Our Community" />
    <meta name="twitter:description" content="Sign up to access exclusive tutorials, code practice, and data science resources." />
    <meta name="twitter:image" content="URL-to-your-signup-page-image.jpg" />

    <!-- Structured Data (JSON-LD) -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "Sign Up | Data Science Digest",
    "url": "https://datasciencedigest.in/signup",
    "description": "Join Data Science Digest to access programming tutorials, code practice, data science resources, and AI insights.",
    "potentialAction": {
        "@type": "RegisterAction",
        "target": "https://datasciencedigest.in/signup"
    }
    }
    </script>

</head>

<body>
    {% include 'header.html' %}



    <!-- Signup Start -->
    <div class="container-xxl py-2 mt-4">
        <div class="container">

            <div class="row g-4 wow fadeInUp" data-wow-delay="0.5s ">

                <center>
                    <form class="shadow p-4" style="max-width: 550px;">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            <h1 class="mb-5 bg-white text-center px-3">Signup</h1>

                        </div>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="username" placeholder="Username">
                                    <label for="Username">Username</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                                    <label for="email">Email Address</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn text-light w-100 py-3" type="submit">Signup</button>
                            </div>

                            <div class="col-12 text-center">
                                <p>Already have an account? <a class="text-decoration-none" href="{% url 'login' %}">Login</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </center>

            </div>
        </div>
    </div>
    <!-- Signup End -->


    <!-- Footer Start -->
    {% include 'footer.html' %}
    <!-- Footer End -->

</body>

</html>